target/
**/*.rs.bk
.idea
.env
server/target/
frontend/public
scripts/*/__pypackages__
scripts/*/__pycache__
scripts/rust_rfc_status/rfc
frontend/templates/resource/statics/trending/*
**/.DS_Store
**/*.pyc