{% extends "base.html" %}
{% block title %}首页{% endblock title %}
{% block body %}
<section class="container">
    <section class="index">

        {% for group_name, group_items in  pages | group_by(attribute="data.index_group") %}
        <section class="part">
            <h2 class="head">{{ group_name }}</h2>
            <section class="content">
                <nav class="simple-inline-list">
                    {% for item in group_items | reverse %}
                    <a class="normal" href="{{ item.url }}" title="{{ item.title }}"><span>{{ item.title }}</span></a>
                    {% endfor %}

                </nav>
            </section>
        </section>
        {% endfor%}

        <section class="part">
            <h2 class="head">社群</h2>
            <section class="content">
                <nav class="block-list">
                    
                    {% for item in page.data.comunities %}

                        <a href="{{ item.url }}" title="{{ item.title }}">
                        {{ item.title }}
                        {% if item.description %}
                        <span>{{ item.description }}</span>
                        {% endif %}
                    </a>
                        
                    
                    {% endfor %}

                </nav>
            </section>
        </section>

        <section class="part">
            <h2 class="head">各种书籍</h2>
            <section class="content">
                <section class="book-list">
                    {% for item in page.data.book %}
                    <div class="book">
                        <div class="title">{{ item.title}}
                            {% if item.title_origin%}
                            <span>{{item.title_origin}}</span>
                            {% endif%}
                        </div>
                        <div class="description han-init-context">
                            {{item.description | safe}}
                        </div>
                        <div class="meta">
                            {% for version in item.version %}
                            <a href="{{ version.link }}" target="_blank">{{version.name}}</a>
                            {% endfor %}

                        </div>
                    </div>
                    {% endfor %}
                </section>
            </section>
        </section>



    </section>

</section>

{% endblock body %}