{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block title %}首页{% endblock title %}
{% block body %}
<section class="container">
    <section class="index">
        {{ macros::index_group(group_name="新手入门") }}
        {{ macros::index_group(group_name="开发中") }}
        <section class="part">
            <h2 class="head">社群</h2>
            <section class="content">
                <ol class="simple-inline-list">
                    {% for item in page.data.comunities %}
                    <li>
                        <a class="normal" href="{{ item.url }}" title="{{ item.title }}">
                            <span>{{ item.title }}</span>
                            {% if item.description %}
                            <p class="desc">{{ item.description }}</p>
                            {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ol>
            </section>
        </section>

        <section class="part">
            <h2 class="head">各种书籍</h2>
            <section class="content">
                <section class="book-list">
                    {% for item in page.data.book %}
                    <div class="book">
                        <div class="title">{{ item.title}}
                            {% if item.title_origin%}
                            <span>{{item.title_origin}}</span>
                            {% endif%}
                        </div>
                        <div class="description han-init-context">
                            {{item.description | safe}}
                        </div>
                        <div class="meta">
                            {% for version in item.version %}
                            <a href="{{ version.link }}" target="_blank">{{version.name}}</a>
                            {% endfor %}

                        </div>
                    </div>
                    {% endfor %}
                </section>
            </section>
        </section>
        {{ macros::index_group(group_name="Path to Production") }}
        {{ macros::index_group(group_name="Be a Pro") }}


    </section>

</section>

{% endblock body %}
