{% macro index_group(group_name) %}
<section class="part">
    <h2 class="head">{{ group_name }}</h2>
    <section class="content">
        <ol class="simple-inline-list">
            {% for item in pages | filter(attribute="data.index_group", value=group_name) | reverse %}
            <li>
                <a href="{{ item.url }}" title="{{ item.title }}" class="normal">
                    <span>{{ item.title }}</span>
                </a>
            </li>
            {% endfor %}
        </ol>
    </section>
</section>
{% endmacro input %}