@font-face {
  font-family: 'icon';
  src:  url('fonts/icon.eot?ttm1xw');
  src:  url('fonts/icon.eot?ttm1xw#iefix') format('embedded-opentype'),
    url('fonts/icon.ttf?ttm1xw') format('truetype'),
    url('fonts/icon.woff?ttm1xw') format('woff'),
    url('fonts/icon.svg?ttm1xw#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shift:before {
  content: "\ea4f";
}
.icon-reddit:before {
  content: "\eac6";
}
