:root {
    font-family: PingFangSC-Regular, Microsoft Yahei UI, Noto Sans CJK SC DemiLight, sans-serif;
    font-size: 20px;
    /*text-align: center;*/
    background-color: white;
    background-repeat: no-repeat;
    color: #202020;
    line-height: 1.6;
    font-weight: 300;
    overflow-x: hidden;
}

body {
    position: relative;
    margin: 0;
    overflow-x: hidden;
}

.bg {
    position: absolute;
    top: -128px;
    right: -128px;
    opacity: 0.15;
    z-index: -2;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}

.content {
    padding: 4rem 8rem;
    margin: 0 auto;
    min-height: 600px;
}

@media screen and (max-width: 50rem) {
    :root {
        font-size: 20px;
        line-height: 1.5;
    }

    body {
        padding: 1rem 1.5rem;
    }
}

@media screen and (max-width: 35em) {
    .bg {
        height: 256px;
        width: 256px;
        top: -64px;
        right: -64px;
    }

    :root {
        font-size: 16px;
    }

    .content {
        padding: 1rem 0.5rem;
    }
}

a {
    color: #3873ad;
    text-decoration: none;
    padding: 0 2px;
}

a:hover {
    text-decoration: underline;
}

li {
    padding: .25rem;
}

section.post-daily > h3 > span {
    font-size: .75rem;
    color: #999;
}

p.description {
    margin: 0;
    padding: 0;
    font-size: .85rem;
}

section.post {
    padding: .35rem 0;
}

section.post div.title span {
    font-size: .75rem;
    color: #999;
}