{% extends "base.html" %}
{% block title %}首页{% endblock title %}
{% block body %}
<section class="main">
    <!--                <section class="part">-->
    <!--                    <section class="head">最新文章</section>-->
    <!--                    <section class="content">-->

    <!--                    </section>-->
    <!--                </section>-->
    <section class="part">
        <section class="head">{{ data.toturial.title }}</section>
        <section class="content">
            <ol class="ordered">
                {% for item in data.toturial.items %}
                <li><a class="normal" href="{{ item.link }}"><span>{{ item.title }}</span></a></li>
                {% endfor %}
            </ol>
        </section>
    </section>

    <section class="part">
        <section class="head">{{ data.link.title }}</section>
        <section class="content">
            <nav class="inline">
                {% for item in data.link.items %}
                <a class="normal" href="{{ item.link }}"
                   title="{{ item.description }}"><span>{{ item.name }}</span></a>
                {% endfor %}
            </nav>
        </section>
    </section>

    <section class="part">
        <section class="head">{{ data.book.title }}</section>
        <section class="content">
            {% for item in data.book.items %}
            <div class="book">
                <div class="title">{{ item.title }}</div>
                <div class="description han-init-context">
                    {{ item.description | safe }}
                </div>
                <div class="meta">
                    {% for version in item.version %}
                    <a href="{{ version.link }}" target="_blank">GO TO {{ version.name }}</a>
                    {% endfor %}
                </div>
            </div>

            {% endfor %}
        </section>
    </section>

</section>
{% endblock body %}
