{% extends "base.html" %}
{% block title %}Reddit Trending{% endblock title %}
{% block body %}
<section class="reddit page">
    <h2>Reddit Trending</h2>
    <p class="description">实时更新 <a class="normal" href="https://www.reddit.com/r/rust/">/r/rust</a> 热门的话题</p>
    <section class="topics">
        {% for reddit in reddits %}
        <section class="topic">
            <section class="meta">
                <span>{{ reddit.score }} <i class="icon-shift"></i></span>
                <span>{{reddit.create_time | date(format="%Y-%m-%d")}}</span>
            </section>
            <section class="info">
                <section class="title">
                    <a href="{{reddit.url}}" target="_blank">{{reddit.title}}</a>
                </section>
                {% if reddit.selftext %}
                <p class="description">
                    {{ reddit.selftext | split(pat="\n") | first }}
                </p>
                {% endif %}

            </section>
        </section>
        {% endfor %}
    </section>
</section>
{% endblock body %}